/* L SIZE */

@media screen and (min-width: 1280px) {
    .maincontent {
        height: 500px;
    }
    .formRect{
        width: 700px;
        height: 300px;
        margin: 200px auto;
        background-color: rgb(175, 0, 8);
        border-radius: 30px;
    }
    .forminput{
        font-size: 28px;
        color: white;
        position: relative;
        top:50px;
        left:60px;
    } 
    .nameLabel{
        position: relative;
        left:50px;
    }
    .accountLabel{
        position: relative;
        left:19px;
    }
    .passwordLabel{
        
    }
    #name{
        position: relative;
        left:140px;
        width: 100px;
        top:-5px;
        height: 25px;
        border-radius: 10px;
    }
    #account{
        position: relative;
        left:109px;
        width: 300px;
        top:-5px;
        height: 25px;
        border-radius: 10px;
    }
    #password{
        position: relative;
        left:88px;
        width: 300px;
        top:-5px;
        height: 25px;
        border-radius: 10px;
    }
    #submitBtn{
        color: white;
        font-size: 30px;
        position: relative;
        left:350px;
        top:50px;
        width: 250px;
        height: 60px;
        background: rgb(115,0,4);
        border: none;
        border-radius: 10px;
    }
}

/* M SIZE */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .maincontent {
        height: 600px;
    }
    .formRect{
        width: 500px;
        height: 250px;
        margin: 100px auto;
        background-color: rgb(175, 0, 8);
        border-radius: 30px;
    }
    .forminput{
        font-size: 23px;
        color: white;
        position: relative;
        top:30px;
        left:40px;
    } 
    .nameLabel{
        position: relative;
        left:50px;
    }
    .accountLabel{
        position: relative;
        left:19px;
    }
    .passwordLabel{
        
    }
    #name{
        position: relative;
        left:90px;
        width: 100px;
        top:-3px;
        height: 20px;
        border-radius: 10px;
    }
    #account{
        position: relative;
        left:65px;
        width: 200px;
        top:-3px;
        height: 20px;
        border-radius: 10px;
    }
    #password{
        position: relative;
        left:48px;
        width: 200px;
        top:-3px;
        height: 20px;
        border-radius: 10px;
    }
    #submitBtn{
        color: white;
        font-size: 20px;
        position: relative;
        left:260px;
        top:50px;
        width: 150px;
        height: 40px;
        background: rgb(115,0,4);
        border: none;
        border-radius: 10px;
    }
}

/* S SIZE */

@media screen and (min-width: 0) and (max-width: 767px) {
    .maincontent {
        min-width: 320px;
        height: 500px;
    }
    .formRect{
        width: 300px;
        height: 120px;
        margin: 50px auto;
        background-color: rgb(175, 0, 8);;
        border-radius: 30px;
    }
    .forminput{
        font-size: 15px;
        color: white;
        position: relative;
        top:5px;
        left:10px;
    } 
    .nameLabel{
        position: relative;
        left:27px;
    }
    .accountLabel{
        position: relative;
        left:11px;
    }
    .passwordLabel{
        
    }
    #name{
        position: relative;
        left:48px;
        width: 60px;
        top:-2px;
        height: 15px;
        border-radius: 10px;
    }
    #account{
        position: relative;
        left:31px;
        top:-2px;
        width: 150px;
        height: 15px;
        border-radius: 10px;
    }
    #password{
        position: relative;
        left:20px;
        top:-2px;
        width: 150px;
        height: 15px;
        border-radius: 10px;
    }
    #submitBtn{
        color: white;
        font-size: 10px;
        position: relative;
        top:10px;
        left: 140px;
        width: 120px;
        height: 25px;
        background: rgb(115,0,4);
        border: none;
        border-radius: 10px;
    }
}